* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFD700;
    color: #FFD700;
    text-align: center;
    padding-top: 70px; /* Padding to avoid content being hidden behind navbar */
}

@keyframes slide-in {
        0%  {
    transform: translateX(-50%);
    opacity: 0;
    }
        100% {
    transform: translateX(0);
    opacity: 1;
    }
}

.slide-in {
    animation: slide-in 5.5s ease forwards;
}

@keyframes slide-in-bottom {
        0%  {
    transform: translateX(-100%);
    opacity: 0;
    }
        100% {
    transform: translateX(0);
    opacity: 1;
    }
}

.slide-in-bottom {
    animation: slide-in-bottom1 10.5s ease forwards;
}

@keyframes fade-in-up {
        0% {
    transform: translateY(50px); /* Start slightly lower */
    opacity: 0; /* Start invisible */
    }
        100% {
    transform: translateY(0); /* End at original position */
    opacity: 1; /* Fully visible */
    }
}

.fade-in-up {
    animation: fade-in-up 3.5s ease forwards; /* Apply the animation */
}


/* Navbar */
nav {
    background-color: #FFD700; /* Navbar background */
    padding: 13px;
    display: flex;
    justify-content: space-between; /* Logo on the left, menu on the right */
    align-items: center;
    position: fixed; /* Fixed position */
    top: 0; /* Keep navbar at the top */
    width: 100%; /* Full width navbar */
    z-index: 1000; /* Ensure navbar is above other content */
    transition: background-color 0.3s, padding 0.3s; /* Animation on scroll */
}

.navbar-logo {
    width: 45px; /* Logo size */
    border-radius: 50px;
    height: auto; /* Auto height */
    transition: width 0.3s; /* Animation for logo resize */
}

.navbar-scrolled .navbar-logo {
    width: 35px; /* Logo size on scroll */
}

.navbar-scrolled {
    background-color: #ffd900a0; /* Navbar background on scroll */
    padding: 10px 15px; /* Padding on scroll */
}

nav ul {
    font-family: lucida;
    list-style: none; /* Remove bullet points */
    display: flex; /* Flexbox for horizontal menu */
    gap: 20px; /* Space between menu items */
}

nav ul li {
    display: inline; /* Display list items inline */
}

nav ul li a {
    color: #000000; /* Menu link color */
    text-decoration: none; /* No underline */
    font-weight: bold; /* Bold font */
    transition: color 0.3s; /* Transition for hover effect */
}

nav ul li a:hover {
    color: #FF5733; /* Hover color */
}

/* Banner */
.banner {
    width: 100%; /* Full width banner */
    overflow: hidden; /* Hide overflow */
}

.banner img {
    width: 100%; /* Full width image */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove spacing */
}

/* Header Content */
header {
    padding: 20px;
}

.character-image {
    width: 100px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000;
}

header h1 {
    font-size: 3em;
    color: #FFD700;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
    color: #000000;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

/* How to Buy Section */
.how-to-buy {
    background-image: url(images/bg4.jpg);
    background-color: #ffffff;
    padding: 40px 0;
    margin-top: 20px;
    border-top: 5px solid #B12020;
    border-bottom: 5px solid #B12020;
}

.how-to-buy h2 {
    display: inline-block;
    padding: 10px;
    font-family: lucida;
    font-size: 1.9em;
    margin-bottom: 30px;
    font-weight: bold;
    color: #B12020;
    border: 3px solid #B12020;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.buy-steps {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.step {
    font-family: courier;
    background-color: #FFD700;
    max-width: 320px;
    padding: 45px;
    border: 3px solid #B12020;
    border-radius: 10px;
    color: #B12020;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.step h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.step p {
    font-family: arial, sans-serif;
    color: #000000;
    font-size: 0.9em;
    margin-bottom: 15px;
    text-align: center;
}

.btn {
    background-color: #B12020;
    color: #FFD700;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #D32F2F;
    color: #FFD700;
}

/* About Section */
.about {
    background-image: url(images/bg4.jpg);
    padding: 40px 0; /* Padding for the section */
    background-color: #ffffff; /* Background color for the About section */
    border-top: 5px solid #FFD700; /* Top border */
    border-bottom: 5px solid #FFD700; /* Bottom border */
}

.about h2 {
    display: inline-block;
    padding: 12px;
    font-family: lucida;
    font-size: 1.9em; /* Font size for the heading */
    margin-bottom: 20px; /* Space below the heading */
    text-align: center; /* Center the heading */
    color: #B12020;
    border: 3px solid #B12020;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.about-content {
    background-color: #FFD700; /* Background color for content */
    border: 2px solid #FFD700; /* Gold border around the content */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Padding inside content */
    max-width: 320px; /* Maximum width of the content */
    margin: 20px auto; /* Center the content with margin */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.about p {
    font-family: arial, sans-serif;
    font-size: 1.0em;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.2;
}

/* Contact Section */
.contact {
    font-family: lucida;
    padding: 40px 0;
    background-color: #FFD700;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #B12020;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icons img {
    width: 40px; /* Icon size */
    height: 40px; /* Icon size */
    transition: transform 0.3s; /* Transition for hover effect */
}

.social-icons img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

/* Footer */
footer {
    background-color: #B12020;
    padding: 20px 0;
    color: #FFD700;
    margin-top: 20px;
}

footer .info {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

footer .info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

footer .email, .contract {
    font-size: 0.9em;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-menu {
        display: none; /* Hide menu on smaller screens */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    .how-to-buy h2 {
        font-size: 2em;
    }

    footer .info p {
        font-size: 0.9em;
    }
}

html {
    scroll-behavior: smooth; /* Menambahkan efek smooth scroll */
}